@charset "utf-8";
#main_header{height: 1950px;background-color:lightgray;position: relative;}
#header_top{
	width:1260px;height: 50px;background-color:pink;
	position: absolute;left:50%;margin-left:-630px;top:40px;
	z-index:1;
}
#header_top > h1{float: left;background-color:#f00;}
#header_top > #main_menu{float: right;background-color: #0f0;}
#main_menu ul{}
#main_menu ul li{float: left;}
#main_menu ul li a{display: block;line-height:50px;padding:0 30px;font-weight:bold;}


/*bxslider*/
.slider_wrap{}
.slider_wrap ul li{height: 1005px;}
.slider_wrap li.first{
	background:url(../images/mainimg01.jpg) no-repeat center;
	background-size:cover;
}
.slider_wrap li.second{
	background:url(../images/mainimg02.jpg) no-repeat center;
	background-size:cover;
}

.slider_wrap .slider_txt{
	width: 700px;position: absolute;left:50%;margin-left:-350px;
	_background-color:rgba(255,255,255,0.3);top:30%;color:white;text-align:center;
	_padding:20px 20px 30px 20px;_box-shadow:0 0 10px #000;
}
.slider_wrap h3{font-size:3.5em;text-shadow:0px 0px 8px #000}
.slider_wrap h3:after{
	content:"";display: block;width: 300px;height: 3px;
	background-color: #fff;margin: 20px auto;
}

/*header content*/

#main_header .content{
	width: 1260px;_background-color: #fff;position: absolute;bottom:0;
	height:1260px;left:50%;margin-left:-630px;
}
#main_header .content li{float: left;width: 25%;height:315px;}
.content li.content1st{
	background-color:#92c1d5;padding-top:50px;text-align:center;
	color:white;font-weight:bold;
}

.content li.content3st{
	width:50% !important;padding-top:30px;padding-left:30px;
	position: relative;
}
.content li.content3st h2{width: 200px;position: relative;z-index:1;}
.content li.content3st .slider2 {position: absolute;top:0;left:0;width: 630px;}
.content li.content3st .slider2 li{width:630px !important}
.content li.content3st .slider2 div{float: left;width: 315px;height: 315px;}
.content li.content3st .slider2 div.left{padding-left: 33px;padding-top: 75px;}
.content li.content3st .slider2 div.left:after{
	content:"";border-width:20px;border-style:solid;
	border-color:transparent transparent transparent #fff;
	position: absolute;left:315px;top:120px;
}

.content li.content3st .btn{
	position: absolute;left:200px;bottom:30px;
	cursor:pointer;
}
.content li.content3st .btn img{float: left;width: 38px;
	border: 1px solid #cdcdcd;display: block;
}

.content li.content3st .bx-wrapper {
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    border: none;
    background: #fff;
    position: absolute;
    top:0;left:0;
    width:630px;
}

.content li.content5st{
	background-color:#b8307c;padding-top:50px;text-align:center;
	color:white;font-weight:bold;
}
.content li.content6st{
	background-color:#413d3e;padding-top:50px;text-align:center;
	color:white;font-weight:bold;
}
.content li.content7st{
	width: 50% !important;color:white;position: relative;
}

.content li.content8st{
	height:630px !important;position: relative;color:white;
}






.content .card{position: absolute;top:40px;left:40px;}
.content .card h3:after{
	content:"";display: block;width: 30px;height: 3px;background-color: #fff;
	margin:20px 0;
}
.content .card p{font-size:2em;}